
/****GLOBAL STYLES****/

section{
    max-width: 1200px;
    margin-left: 20%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body{
	background-color: #68c39f;
	color: #fff;
	font-family: 'Signika', sans-serif;
}

h1{
	font-size: 5em;
}




/****LAYOUT STYLES****/
header{
    text-align: center;
}

.frame{
	background-color: #fff;
	border: 20px solid #564b40;
  	border-radius: 20px;
  	float: left;
	height: 400px;
  	width: 350px;
  	overflow: hidden;
}

#intro{
	/*display: none;*/
}

#picture img{
	width: 100%;
	position: relative;
	display: none;
}

.frame p{
	color: #68c39f;
	margin-bottom: 0;
  	margin-top: 10%;
  	margin-left: 20%;
  	margin-right: 20%;
    font-size: 1.5em;
    text-align: center;
    
}

.frame #end{
	display: none;
}

.frame #end p{
	margin-top: 20%;
}

button#start{
	background-color: #fff;
	border: none;
	cursor:pointer;
	padding-left: 32%;
	/*padding-top: 10%;*/
	/*display: none;*/
}

.options{
	background-color: #fff;
	border-radius: 20px;
	float: left;
	height: 400px;
	margin-left: 10%;
  	margin-top: 3%;
	width: 300px;
}

.options p{
	color: #68c39f;
	margin: 15% 10%;
	text-align: center;
}


/****QUIZ STYLES****/
#artist li{
	color: #68c39f;
	cursor: pointer;
	font-family: 'Signika', sans-serif;
	font-size: 1.5em;
	list-style: none;	
	padding: 2%;
	/*display: none;*/
}

#artist li:hover{
	color: #564b40;
}


/****PALETTE STYLES****/
.palette{
	position: relative;
    height: 150px;
    width: 120px;
    margin-left: 60%;
}

.palette #circle1,
.palette #circle2,
.palette #circle3,
.palette #circle4,
.palette #circle5,
.palette #circle6,
.palette #circle7,
.palette #circle8,
.palette #circle9,
.palette #circle10{
	position: absolute;
	background-color: #fff;
}

.palette h3{
	color: #68c39f;
  	font-size: 1.8em;
  	margin-left: -80%;
  	margin-top: 56%;
 	 position: absolute;
}

.palette h2{
	font-size: 2.3em;
	margin-left: 34%;
  	margin-top: -70%;
	position: absolute;
}


.palette #circle1{ 
    float: right;
  	margin-left: 55%;
  	margin-top: -90%;
  	/*background-color: #c3688c; when correct*/
}

.palette #circle2{
	/*background-color: #68bac3; when correct*/
	margin-top: -88%;
  	margin-left: 42%;
}

.palette #circle3{
	/*background-color: #c37268; when correct*/
	margin-top: -82%;
  	margin-left: 30%;
}

.palette #circle4{
	/*background-color: #c39f68; when correct*/
	margin-top: -72%;
  	margin-left: 19%;
}

.palette #circle5{
	/*background-color: #9f68c3; when correct*/
	margin-top: -60%;
  	margin-left: 13%;
}

.palette #circle6{
	/*background-color: #bac368; when correct*/
	margin-top: -47%;
  	margin-left: 10%;
}

.palette #circle7{
	/*background-color: #688cc3; when correct*/
	margin-top: -35%;
    margin-left: 15%;
}

.palette #circle8{
	/*background-color: #c3688c; when correct*/
	margin-top: -28%;
  	margin-left: 25%;
}

.palette #circle9{
	/*background-color: #8ca7d2; when correct*/
	margin-top: -25%;
    margin-left: 38%;
}

.palette #circle10{
	/*background-color: #90773E; when correct*/
    margin-top: -26%;
    margin-left: 51%;
}


.paint{
	height: 13px;
	width: 13px;
	border-radius: 50px;
	background-color: #fff;
	float: right;
}
